


  <svg version="1.1" id="craneIconSvg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 409.538 409.538" style="enable-background:new 0 0 409.538 409.538;" xml:space="preserve">
<g >
	<path d="M173.396,251.103h-17.995c-2.209,0-4,1.791-4,4v42.988c0,2.209,1.791,4,4,4h28.492c2.209,0,4-1.791,4-4v-21.994
		c0-0.621-0.145-1.233-0.422-1.789l-10.497-20.994C176.296,251.96,174.911,251.103,173.396,251.103z M170.924,259.103l5.63,11.26
		h-17.153v-11.26H170.924z M159.401,294.091v-15.728h20.492v15.728H159.401z" />
	<path d="M400.041,180.463V63.742c0-0.112-0.024-0.217-0.033-0.326c-0.164-2.867-1.344-5.539-3.392-7.585
		c-2.211-2.212-5.152-3.43-8.281-3.43c-1.748,0-5.013,1.035-5.013,1.035L52.772,165.599c0,0-3.71,1.297-3.985,1.471
		c-1.767,1.12-2.372,3.411-1.39,5.258l49.483,93.007H4c-2.209,0-4,1.791-4,4v42.459c0,2.209,1.791,4,4,4h98.796v5.408H72.717
		c-9.907,0-17.967,8.06-17.967,17.967s8.06,17.968,17.967,17.968h147.491c9.907,0,17.967-8.061,17.967-17.968
		s-8.059-17.967-17.967-17.967h-33.432v-5.408h12.76c2.209,0,4-1.791,4-4v-34.638c0-0.639-0.153-1.268-0.445-1.835l-4.169-8.076
		L392.041,76.88v103.583c-5.496,1.709-9.498,6.842-9.498,12.893v9.497c0,2.209,1.791,4,4,4h5.299v6.501c0,2.209,1.791,4,4,4
		c1.058,0,2.043,0.422,2.775,1.188c0.73,0.765,1.106,1.772,1.058,2.836c-0.088,1.922-1.724,3.558-3.647,3.646
		c-1.677,0.086-3.289-0.997-3.828-2.62c-0.698-2.098-2.966-3.227-5.059-2.533c-2.097,0.698-3.23,2.963-2.533,5.059
		c1.608,4.832,6.184,8.1,11.246,8.099c0.18,0,0.361-0.004,0.542-0.012c6.042-0.278,10.992-5.229,11.271-11.271
		c0.149-3.269-1.01-6.368-3.265-8.729c-1.275-1.334-2.846-2.343-4.56-2.96v-3.202h5.696c2.209,0,4-1.791,4-4v-9.497
		C409.538,187.305,405.536,182.172,400.041,180.463z M366.727,90.6l-5.471-5.531l14.329-13.812l5.315,5.373L366.727,90.6z
		 M346.865,110.178l-5.69-5.753l14.32-13.804l5.534,5.595L346.865,110.178z M327.004,129.757l-5.909-5.974l14.321-13.805
		l5.753,5.816L327.004,129.757z M307.134,149.343l-6.128-6.196l14.329-13.813l5.972,6.038L307.134,149.343z M287.272,168.921
		l-6.348-6.418l14.321-13.804l6.191,6.26L287.272,168.921z M267.41,188.501l-6.568-6.64l14.323-13.805l6.41,6.481L267.41,188.501z
		 M247.546,208.081l-6.788-6.862l14.324-13.807l6.631,6.704L247.546,208.081z M227.681,227.662l-7.008-7.085l14.324-13.807
		l6.851,6.926L227.681,227.662z M207.818,247.243l-7.228-7.307l14.324-13.806l7.071,7.148L207.818,247.243z M185.213,240.683
		c-0.687-1.329-2.058-2.165-3.555-2.165h-56.985c-2.209,0-4,1.791-4,4v14.761l-63.249-84.811L368.594,66.882l-182.36,175.779
		L185.213,240.683z M81.559,307.794v-34.459h39.115v34.459H81.559z M56.791,273.335h16.768v34.459H56.791V273.335z M48.791,307.794
		H32.023v-34.459h16.768V307.794z M79.16,214.995l37.541,50.34h-10.759L79.16,214.995z M8,273.335h16.023v34.459H8V273.335z
		 M62.75,339.169c0-5.496,4.471-9.967,9.967-9.967h46.839v19.935H72.717C67.221,349.137,62.75,344.665,62.75,339.169z
		 M165.368,329.202v19.935h-37.812v-19.935H165.368z M230.174,339.169c0,5.496-4.471,9.968-9.967,9.968h-46.84v-19.935h46.84
		C225.704,329.202,230.174,333.673,230.174,339.169z M178.776,321.202h-67.98v-5.408h67.98V321.202z M195.536,307.794h-66.862
		v-38.459v-22.816h50.548l16.314,31.609V307.794z M190.064,250.081l4.766-4.594l7.291,7.371l-7.041,6.941L190.064,250.081z
		 M390.935,66.737l-4.338,4.276l-5.252-5.309l4.423-4.263c1.414-1.362,3.813-1.33,5.191,0.047c0.701,0.701,1.085,1.634,1.081,2.627
		C392.037,65.107,391.644,66.038,390.935,66.737z M401.538,198.852h-10.995v-5.497c0-3.031,2.467-5.498,5.498-5.498
		c3.031,0,5.497,2.467,5.497,5.498V198.852z" />
</g>

</svg>


