<app-slider label="Höhe" unit="m" maxVal="200" (valChange)="heightChange($event)"></app-slider>
<app-slider label="Last" unit="t" (valChange)="weightChange($event)"></app-slider>
<app-slider label="Radius" unit="m" maxVal="140" (valChange)="radChange($event)"></app-slider>
<a mdcButton raised href="#results">{{craneData.length}} Ergebnisse anzeigen</a>

