<div class="tabs" id="results">
  <ul>
    <li [ngClass]="{'is-active': heightActive}">
      <a (click)="onHeightClick()">
        <span class="icon">
          <i [ngClass]="{
      'fas' : true,
      'fa-angle-up': !heightActive,
      'fa-angle-down': heightActive
    }"></i>
        </span>
        <span>
          Höhe
        </span>
      </a>
    </li>
    <li [ngClass]="{'is-active': weightActive}">
      <a (click)="onWeightClick()">
        <span class="icon">
          <i [ngClass]="{
      'fas' : true,
      'fa-angle-up': !weightActive,
      'fa-angle-down': weightActive
    }"></i>
        </span>
        <span>
          Last
        </span>
      </a>
    </li>
    <li [ngClass]="{'is-active': radActive}">
      <a (click)="onRadClick()">
        <span class="icon">
          <i [ngClass]="{
      'fas' : true,
      'fa-angle-up': !radActive,
      'fa-angle-down': radActive
    }"></i>
        </span>
        <span>
          Radius
        </span>
      </a>
    </li>

  </ul>
</div>
<div *ngFor="let crane of craneData" class="columns">
  <div class="column">
    <h1 class="title is-4">{{crane.productName}}</h1>
    <h2 class="subtitle is-5">{{crane.productName}}</h2>
    <div class="tile is-ancestor is-centered">
      <div class="tile is-6"><figure class="image"><img src="{{ crane.iconUrl }}"></figure></div>
      <div class="tile is-vertical is-parent">
        <div class="tile is-child box"><p>Höhe </p>
          <p>{{ crane.wheelHeadHeight }}m</p></div>
        <div class="tile is-child box"><p>Ballast </p>
          <p>{{ crane.counterWeight }}t</p></div>
      </div>
      <div class="tile is-vertical is-parent">
        <div class="tile is-child box"><p>Last </p>
          <p> {{ crane.maxLoadCapacity }}t</p></div>
        <div class="tile is-child box"><p>Drehbereich</p>
          <p>{{ crane.slewingRange }}</p></div>
      </div>
      <div class="tile is-vertical is-parent">
        <div class="tile is-child box"><p>Radius</p>
          <p> {{ crane.radius }}m</p></div>
        <div class="tile is-child box"><p>Ausleger-<br/> konfiguration</p>
          <p>{{ crane.operationMode }}</p></div>
      </div>
    </div>

    <a href="{{crane.productLink}}" mdcButton raised>Details ansehen</a>
    <hr/>
  </div>
</div>
<p *ngIf="craneData.length == 0">Leider gibt es keinen Kran für Ihre Zwecke!</p>
