<div class="columns is-centered">

  <div class="column is-one-third">
    <app-crane-icon></app-crane-icon>
  </div>
  <div class="column is-one-third">
    <app-crane-form></app-crane-form>
  </div>

</div>
<div class="columns is-centered">
  <div class="column is-two-thirds">
    <app-crane-display></app-crane-display>
  </div>
</div>
<span style="font-size: xx-small"><div>Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a
  href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a
  href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div></span>

