<div class="columns"><div class="column is-one-fifth is-pulled-left is-bottom-text"><label>{{label}}:</label></div><div class="column is-one-fourth is-pulled-left "><div mdcTextField box="false" [dense]="dense"><input mdcTextFieldInput type="text" [(ngModel)]="value"  /></div>{{unit}}</div></div>
<div mdcSlider aria-label="Länge auswählen"
     [(minValue)]="min" [(maxValue)]="max" [(stepValue)]="step"
     [discrete]="discrete" [markers]="markers"
     [(ngModel)]="position" [disabled]="disabled"></div>


