/* You can add global styles to this file, and also import other style files */
$mdc-theme-primary: #FDC400;
$mdc-theme-secondary: #FDC400;
$mdc-theme-background: #fff;
$link: $mdc-theme-primary;
.is-bottom-text {
  margin-top: auto
}
@import "~@material/slider/mdc-slider";
@import "~@material/textfield/mdc-text-field";
@import "~@material/button/mdc-button";
@import "~@material/card/mdc-card";
@import "~bulma/sass/utilities/_all";
@import "~bulma/sass/grid/_all";
@import "~bulma/sass/base/generic";
@import "~bulma/sass/components/tabs";
